<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/currently_playing.css">
    <link rel="stylesheet" href="css/toggle.css">
    <link rel="stylesheet" href="css/text_scroll.css">
    <title>Spotify Song Viewer</title>

</head>
<body id="body">
    <div class="container" id="profile">
        <div class="image center">
            <img id="profile_image" class="center">
            <div id="username" class="song_name"></div>
        </div>
	</div>

    <!-- create weather location -->
    <div class="container" id="currently_playing">
        <!-- hold all api given content (image, song_name, artist_name) -->
        <div class="content">
            <div class="image center" style="color: white" id="i_c">
                <img class="center" id="i">
                <!-- <div class="song_name" id="s_n"></div> -->
                <div class="song_name" id="s_n"></div>
            </div>
            <div class="artist_name" id="a_n"></div>
        </div>

        <img src="" id="it" style="display:none">
    </div>

    <script>
        const refresh_token = '<%= refresh_token %>';
        const access_token = '<%= access_token%>';
    </script>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="js/text_scroll.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/fast-average-color/dist/index.browser.min.js"></script>
    <script src="js/auth.js" crossorigin="anonymous"></script>
    <script src="js/spotify.js" crossorigin="anonymous"></script>
</body>
</html>
