/* .track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
} */

@keyframes marquee {
  from { -moz-transform: translateX(0); }
  to { -moz-transform: translateX(-50%); }
}
